.header{
    height: 50px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f5fbff;
}

.header a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000;
}


.header a::after{
    content: " ";
    width: 100%;
    display: flex;
    opacity: 0;
    height: 1px;
    background-color: #000;
    margin-top: 5px;
}

.header a:hover::after{
    opacity: 1;
}